<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>This application was built by Chris Jeon.</p>
        <p>It uses data from Mapbox and Weatherstack APIs!</p>
        <img src="/img/chris.png" class="portrait">

    </div>
    {{>footer}}
</body>


</html>
